.one{
    background-color: aqua;
    height: 200px;
}
.two{
    background-color: rgb(238, 71, 41);
    height: 200px;

}
.three{
    background-color:blueviolet;
    height: 200px;

}
.four{
    background-color: blue;
    height: 200px;

}

